html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    font-family: 'Inter', sans-serif;
}


[class*="__container"] {
    max-width: 978px;
    margin: 0 auto;
    padding: 0px 15px;
}


.header {
    max-width: 1358px;
    height: 256px;
    background: url(/img/Banner\ image.png) no-repeat;
    background-size: auto;
    margin: 0 auto;
    padding-top: 128px;
    margin-bottom: 58px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.user__info {
    display: flex;
    align-items: flex-end;
}

.user-name {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #111827;
    margin-left: 20px;
}

.btn {
    background-color: #fff;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    transition: .2s ease;
}

.btn:hover {
    background-color: cornsilk;
}

.btn__message {
    padding: 11px 13px;
    margin-right: 16px;
}

.btn__message img {
    margin-right: 8px;
}

.btn__call {
    padding: 9px 17px 9px 13px;
}

.btn__call img {
    margin-right: 8px;
}

.intro__wrapper {
    max-width: 1358px;
    margin: 0 auto;
    padding: 0px 15px;
}

.intro__list-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    margin-bottom: 32px;
}

.item img {
    width: 431px;
    height: 244px;
    border-radius: 8px;
}








/*----------------media---------------------*/


@media(max-width: 1322px) {
    .intro__list-image{
        justify-content: space-around;
    }
}

@media(max-width: 1024px) {
    .intro__list-image{
        justify-content: space-around;
    }
}

@media(max-width: 768px){

    .header {
        margin-bottom: 130px;
    }

    .header__container{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .user__info{
        flex-direction: column;
        align-items: center;
    }
 
}

@media(max-width: 435px){
    .item img {
        width: auto;
        height: auto;
    }
}